<ul class="navbar-nav">
    <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-secondary" id="languageDropdown"
                ngbDropdownToggle>{{currentLanguage}}</button>
            <div ngbDropdownMenu aria-labelledby="languageDropdown">
                <button ngbDropdownItem
                    (click)="onLanguageChange('hr')">{{'language.croatian' | translate}}</button>
                <button ngbDropdownItem
                    (click)="onLanguageChange('en')">{{'language.english' | translate}}</button>
            </div>
        </div>
    </li>
</ul>
