<div *ngIf="hardware"  class="list-group-item list-group-item-dark col-md-10 ms-2 mt-2">

    <h2>{{hardware.name}} - details</h2>
    <div><span>Name: </span>{{hardware.name}}</div>
    <div><span>Price: </span>{{hardware.price}} HRK</div>
</div>
<div class="col-md-10 ms-2" *ngIf="reviews && reviews.length != 0">
    <div class="card">
        <h5 class="card-title ms-2 mt-2">Recenzije:</h5>
        <div class="card-body">
            <div class="col-md-12" *ngFor="let review of reviews">
                <div>{{review.content}} - <b>{{review.score}}/5</b></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-10 ms-2" *ngIf="reviews.length == 0">
    <div class="card">
        <h5 class="card-title ms-2 mt-2">There is no review(s) for selected hardware</h5>
    </div>
</div>
<button routerLink="/hardwares" type="button" class="btn btn-outline-info ms-2 mt-2">Go back</button>
